body {
  font-family: 'Baloo Da', cursive, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  background: aliceblue;
  font-weight: bold;
  min-width: 956px;
}

img {
  width: 200px;
  height: 150px;
}

#board {
  min-width: 920px;
}

#player1Board, #player2Board, #pileFlags {
  text-align: center;
}

.flag {
  width: 220px;
  height: 180px;
  display: inline-block;
}

input {
  width: 195px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  border-radius: 25px;
  border: 5px solid skyblue;
}

#pileFlags {
  margin: 30px;
  min-width: 956px;
}

.middleBoard {
  display: inline-block;
  /*margin-top: 75px;
  margin-bottom: 75px;*/
  padding: auto;

}

/*#scoreboard {
display: block;
}*/

.playerBoard {
  text-align: center;
  padding: 10px;
  background: skyblue;
  margin: 10px;
}

#p1, #p2, #player1Score, #player2Score {
  /*margin-right: 100px;*/
  /*height: 80px;*/
  /*font-size: 50px;*/
  margin: 0 75px 0 75px;
}

#p1, #p2 {
  font-size: 35px;
}

#player1Score, #player2Score {
  font-size: 50px;
}

#playerTurn {
  /*margin-right: 100px;*/
  font-size: 50px;
  color: hotpink;
}

#playAgain {
  /*margin-right: 100px;*/
  font-size: 25px;
  margin-bottom: 60px;
  font-family: 'Baloo Da', cursive, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  border-radius: 25px;
  padding: 10px;
  background: skyblue;
  border: 5px solid skyblue;
}






















/*#board {
min-width: 1040px;
}*/



/*.flag {
display: inline-block;
margin: 10px;
border: 1px solid black;
width: 220px;
height: 180px;
}*/

/*input {
width: 195px;
}*/

/*#player1Board, #player2Board, #pileFlags {
border: 1px solid black;
margin: auto;
padding: 10px;
text-align: center;
}*/

/*#board {
border: 1px solid black;
margin: auto;
padding: 10px;
text-align: center;
}*/
