img {
  width: 200px;
  height: 150px;
}


#board {
  min-width: 902px;
}

#player1Board, #player2Board, #pileFlags {
  border: 1px solid black;
  text-align: center;
}

.flag {
  border: 1px solid black;
  width: 220px;
  height: 180px;
  display: inline-block;
}

input {
  width: 195px;
}

.middleBoard {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
}

.playerBoard {
  text-align: center;
}

#p1, #p2 {
  margin-right: 100px;
}

#playerTurn {
  margin-left: 100px;
}






















/*#board {
min-width: 1040px;
}*/



/*.flag {
display: inline-block;
margin: 10px;
border: 1px solid black;
width: 220px;
height: 180px;
}*/

/*input {
width: 195px;
}*/

/*#player1Board, #player2Board, #pileFlags {
border: 1px solid black;
margin: auto;
padding: 10px;
text-align: center;
}*/

/*#board {
border: 1px solid black;
margin: auto;
padding: 10px;
text-align: center;
}*/
