body {
  font-family: 'Baloo Da', cursive, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  background: aliceblue;
}

#heading {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 10px 0 10px 0;
  background: skyblue;
}

img {
  width: 125px;
  height: 100px;
}

.selector {
  display: inline-block;
  padding: 25px;
}

#difficultySelector {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.instructions {
  width: 75%;
  margin: auto;
}

.selector:hover {
  background: hotpink;
}

h4 {
  margin: 0;
}
